*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Open Sans";
    src: url(fonts/OpenSans.ttf);
}

@font-face {
    font-family: "Satisfy";
    src: url(fonts/Satisfy-Regular.ttf);
}

html body {
    font-family: "Open Sans";
}

header {
padding-top: 25px;
display: flex;
justify-content: center;
text-align: center;
}

h1 {
    font-family: "Satisfy";
    color: #ff8a65;
    font-size: 2.5rem;
}

h2 {
    font-size: 1rem;
}

.album {
    position: relative;
    height: 325px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}

.pictures {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    border: solid 8px #f3f3f3;
    box-shadow: 1px 1px 2px #666;
    overflow: hidden;
    transition: transform 300ms linear;
}

.images {
    width: 100%;
    height: 100%;
}


.picture-1 {
    background-image: url(./images/pic_trulli.jpg);
}

.picture-2 {
    background-image: url(./images/pic_bali.jpg);
}

.picture-3 {
    background-image: url(./images/pic_peneda-geres.jpg);
}


figcaption {
    position: absolute;
    right: 0;
    top: 0;
    width: 250px;
    
    background-color: #f3f3f3;
    text-align: center;
    font-weight: bold;

    padding-top: 5px;
    padding-bottom: 5px;

    border-bottom-left-radius: 8px;
}

.album:hover .picture-1 {
    transform: rotate(-3deg) translateY(-35px); 
}

.album:hover .picture-2 {
    transform: translateY(35px);
}

.album:hover .picture-3 {
   transform: scale(1.01) rotate(2deg) translateX(-125px);   
} 

.picture-1:hover {
    transform: rotate(-2deg) translateY(-30px) !important;
    z-index: 1; 
}

.picture-2:hover {
transform: translateY(30px) !important;
z-index: 1;
}

.picture-3:hover {
    transform: scale(1.0) rotate(1deg) translateX(-120px) !important;
    z-index: 1; 
}